@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'KCC-Ganpan';
    font-size: 14px;
    line-height: 24px;
    color: #433a2c;
    min-width: 1450px;
}

/*header*/
#header {
    background-color: #f7f3df;
}

.header_inner {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 9px 0;
}

#nav {
    display: flex;
    position: relative;
}

#nav>li {
    width: 160px;
    padding: 27px 0;
    text-align: center;
    position: relative;
}

#nav>li>a {
    font-size: 20px;
}

/*sub*/
.sub {
    width: 160px;
    top: 100%;
    text-align: center;
    position: absolute;
    display: none;
    z-index: 77;
}

#nav .sub_bg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 300px;
    background: url(../images/sub_bg.png) no-repeat top center;
    opacity: 80%;
    z-index: 10;
    display: none;
}

.sub li img {
    padding-right: 10px;
}

.sub li a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

#nav>li:hover>.sub {
    display: block;
}




/*main_banner*/
.main_banner {
    width: 100%
}

.main_banner .swiper-pagination span {
    background-color: #bde4ee;
}

.main_prev {
    left: 100px;
}

.main_next {
    right: 100px;
}



.main_prev::after {
    content: url(../images/btn.png);
}

.main_next::after {
    content: url(../images/btn2.png);

}

#together {
    margin: auto;
    width: 100%;
}

.together_sub1 {
    background-color: #f37473;
    margin: 64px auto;
    width: 223px;
    height: 44px;
    border-radius: 20px;
}

.together_sub1 h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 44px;
    font-weight: normal;
}

.tabs {
    margin: auto;
    width: 447px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    font-weight: normal;
}

.tabs li {
    width: 120px;
    height: 30px;
    background-color: #fff5a5;
    border-radius: 15px;
    text-align: center;
}

.tabs li a {
    display: block;
    font-size: 18px;
    color: #433a2c;
    padding-top: 2px;
}

/*new_book*/
.tab_container {
    background-color: #fff5a5;
    margin: auto;
    width: 100%;
}

#tab1 {
    margin: 0 auto;
    width: 1320px;
    padding: 130px 0;
}

.new_bk {
    font-family: 'Noto Sans KR', sans-serif;
    width: 260px;
}

.new_bk img {
    padding-bottom: 32px;
}

.new_bk h2 {
    font-size: 26px;
    padding-bottom: 21px;
}

.new_bk h4 {
    font-size: 14px;
}


.new_prev,
.new_next {
    width: 44px;
    height: 44px;
}

.new_prev {
    left: -200px;
}

.new_next {
    right: -200px;
}

.new_po {
    position: relative;
}

/*best_book*/
#tab2 {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 70px 0;
}

.best_book {
    margin: auto;
    width: 1320px;
}

.best_bk {
    background-color: #fff5a5;
    display: flex;
    justify-content: space-between;
}

.bb_text {
    width: 550px;
    padding: 0 10px;
    padding-left: 110px;
}

.bb_text h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0;
}

.bb_text h3 {
    font-size: 16px;
}

.bb_text h4 {
    font-size: 14px;
}

.bb_text p {
    font-size: 18px;
    line-height: 32px;
    padding-top: 30px;
}

/*play*/
#play {
    margin: 80px auto;
    width: 1320px;
}

#play .together_sub1 {
    background-color: #f9a772;
}

.play_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.think li,
.health li {
    margin: 0 35px;
}

.art li {
    margin: 20px 35px;
}

.play_inner li {
    width: 283px;
    height: 228px;
}

.play_inner li a {
    display: block;
    width: 100%;
    height: 100%;
}

.think1 {
    background: url(../images/active1_1.png) no-repeat center top;
}

.think1:hover {
    background: url(../images/active1_1_hover.png) no-repeat center top;
}

.think2 {
    background: url(../images/active1_2.png) no-repeat center top;
}

.think2:hover {
    background: url(../images/active1_2_hover.png) no-repeat center top;
}

.art1 {
    background: url(../images/active2_1.png) no-repeat center top;
}

.art1:hover {
    background: url(../images/active2_1_hover.png) no-repeat center top;
}

.art2 {
    background: url(../images/active2_2.png) no-repeat center top;
}

.art2:hover {
    background: url(../images/active2_2_hover.png) no-repeat center top;
}

.health1 {
    background: url(../images/active3_1.png) no-repeat center top;
}

.health1:hover {
    background: url(../images/active3_1_hover.png) no-repeat center top;
}

/*attach*/
#attach {
    margin: auto;
    width: 100%;
    height: 350px;
    background: url(../images/attach_banner.gif) no-repeat center top;

}

#cafe {
    margin: auto;
    width: 100%;
    height: 750px;
    background: url(../images/cafebg.jpg) no-repeat center top;
    padding-top: 70px;
    padding-bottom: 125px;
}

#cafe .together_sub1 {
    background-color: #fcbcbc;
    margin-top: 70px;
}

.menu ul {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 50px 0;

}

.menu li img:hover {
    animation: change-bg 0.4s alternate-reverse infinite linear;
}

@keyframes change-bg {
    from {
        transform: rotate(10deg) scale(1.2);
    }

    to {
        transform: rotate(-10deg) scale(1.2);
    }
}

.menu ul li p {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    align-items: center;
    padding-top: 50px;
}

.menu ul .pin img {
    padding-top: 30px;
}


#cafe .more {
    background-color: #6e573e;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 90px;
}

#cafe .more p a {
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/*qna*/
#qna {
    margin: auto;
    width: 1320px;
    display: flex;
    justify-content: space-around;
}

.qna_tx {
    padding: 40px 35px;
}

.qna_tx h1 {
    font-weight: normal;
    font-size: 24px;
    padding-bottom: 25px;
}

.qna_tx p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
    color: #433a2c;
    text-decoration: underline #6e573e 2px;
}

.kakao {
    background: url(../images/kakao_bg.png) no-repeat center top;
    width: 314px;
    height: 274px;
    position: relative;
}

.event {
    background: url(../images/event_bg.png) no-repeat center top;
    width: 314px;
    height: 274px;
    position: relative;
}

.sns {
    background: url(../images/sns_bg.png) no-repeat center top;
    width: 314px;
    height: 274px;
    position: relative;
}

.kakao .btn,
.event .btn,
.sns .btn {
    position: absolute;
    left: 205px;
    top: 164px;
}

#qna .btn {
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 25px 0;
    box-shadow: 10px 10px 0 #8cddea;

    transition-duration: 0.3s;
}

#qna .btn:hover {
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: none;
}

#qna .btn img {
    padding: 23px;
}

/*footer*/
#footer {
    background: url(../images/footer_bg.png) no-repeat center top;
    width: 100%;
    height: 285px;
    margin-top: 30px;
}

.footer_inner {
    margin: auto;
    width: 1320px;
    display: flex;
    padding-top: 160px;
    padding-left: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 24px;
    box-sizing: border-box;
}

.footer_tx ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.footer_tx ul li {
    padding-right: 60px;
}

.footer_tx {
    padding-left: 50px;
    color: white;
}

.btn_gotop {
    display: none;
    position: fixed;
    bottom: 30px;
    /* 탑버튼을 화면의 가장 아래에서 몇 픽셀 떨어뜨릴 것인지 정하세요*/
    right: 30px;
    /* 탑버튼을 화면의 가장 오른쪽에서 몇 픽셀 떨어뜨릴 것인지 정하세요*/
    z-index: 999;
    cursor: pointer;
}